// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// palette 1:
$smoke: rgb(245, 244, 239);
$peach: rgb(241, 219, 206);
$slate: rgb(104, 103, 99);
$light-slate: rgb(184, 181, 176);
$tan-olive: rgb(229, 226, 217);

// palette 2:
$olive: rgb(191, 211, 193);
$cream: rgb(255, 229, 212);
$salmon: rgb(239, 199, 194);

// palette 3:
$green: rgb(188, 244, 222);
$kinda-green: rgb(205, 229, 215);
$middle: rgb(222, 214, 209);
$kinda-pink: rgb(238, 198, 202);
$pink: rgb(255, 183, 195);
$kinda-green-gradient: linear-gradient(to right, hsl(145, 32%, 85%), hsl(145, 32%, 75%));
