// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// palette 1:
$smoke: rgb(245, 244, 239);
$peach: rgb(241, 219, 206);
$slate: rgb(104, 103, 99);
$light-slate: rgb(184, 181, 176);
$tan-olive: rgb(229, 226, 217);

// palette 2:
$olive: rgb(191, 211, 193);
$cream: rgb(255, 229, 212);
$salmon: rgb(239, 199, 194);

// palette 3:
$green: rgb(188, 244, 222);
$kinda-green: rgb(205, 229, 215);
$middle: rgb(222, 214, 209);
$kinda-pink: rgb(238, 198, 202);
$pink: rgb(255, 183, 195);
$kinda-green-gradient: linear-gradient(to right, hsl(145, 32%, 85%), hsl(145, 32%, 75%));

// palette 4:
$eggtart: hsl(51, 90%, 85%);
$slate-blue: hsl(193, 34%, 30%);
$ochre: hsl(36, 72%, 56%);
$main-red: hsl(359, 58%, 39%);
$dark-red: hsl(358, 77%, 19%);

//palette 5:
$green-gray: hsl(174, 21, 20);
$teal: hsl(184, 66, 28);
$cream-of-wheat: hsl(22, 41, 88);
$teracotta-red: hsl(6, 57, 49);
$madder-brown: hsl(7, 53, 31);

//palette 6:
$dark-gray: hsl(25, 9, 25);
$med-gray: hsl(21, 6, 51);
$light-gray: hsl(38, 8, 72);
$off-white: rgba(245, 244, 240, 0.932);
$ballet-pink: hsl(14, 51, 75);
$gray-blue-purple: hsl(226, 13, 38);

//palette 7:
$peacock-blue: hsl(185, 100, 23);
$turq: hsl(174, 36, 64);
$blue-white: hsl(195, 50, 95);
$apricot: hsl(15, 100, 91);
$sushi: hsl(16, 65, 68);

//nintento palette :
$not-white-white: hsl(0, 100%, 99%);
$card-light-gray: hsla(0, 1%, 86%, 0.678);
$hover-darker-gray: hsla(0, 1%, 44%, 0.639);
$raspberry: #BC195C;
$diet-raspberry: #f5237b85;
$naples-yellow: #fff9bf;
$red-but-not-nintendo: hsl(7, 80%, 60%);
$text-blackish: hsl(0, 8%, 13%);
// $: hsl();
