<div class="profile-pic-form">
  <h3>Upload your profile picture here</h3>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>

<%= render "form", user: @user %>
