@import "show";

.banner {
  height: 10vh;
  background: $red-but-not-nintendo;
  margin-top: -16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 48px;
  padding: auto;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

// if we use an image
.banner img {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.user-container {
width: 720px;
}

.categories {
  padding: 16px 26px;
}
.categories-links {
  display: flex;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
  row-gap: 8px;
}
.categories-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.categories-links a:hover {
  opacity: 1;
}

.categories .fa-heart {
  color: #D23333;
}

.search-game-results{
  padding: 0 44px;
}
