@import "show";

.banner {
  height: 10vh;
  background: $red-but-not-nintendo;
  margin-top: -16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 48px;
  padding: auto;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

// if we use an image
.banner img {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.user-container {
width: 720px;
}
