.game-row-first {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.show-game-image {
  object-fit: cover;
  width: 800px;
  height: 450px;
  border-radius: 3px;
}

.ratings-card {
  border: none;
}

.game-title {
  text-align: center;
}

.star-container {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  margin-bottom: 15px;
}
.rating-notification {
  z-index: 1;
  position: absolute;
  left: 156px;
  top: 58px;
  font-size: 20px;
}
.star {
  width: 32px;
  height: 32px;
}
.no-rating {
  opacity: 20%;
}
.review-star {
  width: 16px;
  height: 16px;
}

.new_shelf_game {
  // It's a simple form class so I had no choice to use underscores in the class name
  margin-top: 25px;
  margin-bottom: 18px;
}

button.btn {
  // The little + sign to add games to a shelf
  padding: 0 0 8px 10px;
}

.twitch-preview {
  color: black;
  background-color: hsl(140, 47%, 70%);
  padding: 8px 16px;
  border-radius: 3px;
  margin-top: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  margin-right: auto;
  transition: 3ms;
}
.twitch-preview:hover {
  color: black;
  background-color: hsl(140, 67%, 70%);
}

a .preview-thumbnail {
  display: none;
}

a:hover .preview-thumbnail {
  display: block;
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 200px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.game-row-second-left {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin-bottom: 30px;
  height: 435px;
}
.game-row-second-right {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

// feel free to change the button colors especially to make it fit more
iframe {
  border: 0;
  border-radius: 3px;
}

.game-row-reviews {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin-bottom: 50px;
}

.rounded-box-reviews {
  background: rgba(228, 228, 228, 0.333);
  padding: 5px 0px 0px 10px;
  margin: 14px 0 0 0;
  border-radius: 5px;
}

ul.reviewer {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.review {
  list-style: none;
  padding: 0;
  margin-left: 100px;
}

.review-user {
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  margin: 0px;
}

.review-time {
  font-weight: normal;
  position: relative;
  font-size: 13px;
}

.review-content {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  margin: 0px;
  overflow: hidden;
}

img.review-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  top: 10px;
}

.recommended-game-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (max-width: 1399px) {
  .show-game-image {
    width: 600px;
    height: 320px;
  }
}

@media (max-width: 992px) {
  .show-game-image {
    width: 400px;
    height: 220px;
  }
}


// I have no idea what these are, I think they are CSS for the another page...
.shelf-select {
  display: flex;
  width: 100%;
  align-items: center;
}

.shelf-select select {
  width: 70%;
  // flex-grow: 2;
}

.shelf-select img {
  width: 16px;
  height: 16px;
}

.shelf-select .btn {
  border: none;
}

.shelf-select .btn:hover {
  border: none;
  opacity: 70%;
}

.review-image {
  width: 240px;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
