.reviewContent {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  margin: 0px 8px 8px;
}

.reviewTime {
  font-size: .85rem;
  font-weight: normal;
  margin: 1px 10px 10px 10px
}

.review-user {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  margin: 0px;
}

.img {
  width: 40px;
}

.recommended-game-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.show-game-image {
  object-fit: cover;
  width: 600px;
  height: 320px;
}

.game-row {
  padding: 32px;
  background-color: #ffffff;
  color: #252627;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 24px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  margin-top: 16px;
  margin-bottom: 16px;
}

.rounded-box {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin: 16px auto;
}

.rounded-box-reviews {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin: 16px auto;
  border-radius: 25px;
  background: #ccc;
  padding: 16px;
}

.shelf-select {
  display: flex;
  width: 100%;
  align-items: center;
}

.shelf-select select {
  width: 70%;
  // flex-grow: 2;
}

.shelf-select img {
  width: 16px;
  height: 16px;
}

.shelf-select .btn {
  border: none;
}

.shelf-select .btn:hover {
  border: none;
  opacity: 70%;
}

.star-container {
  display: flex;
  margin-bottom: 8px;
}

.star {
  width: 32px;
  height: 32px;
}

.no-rating {
  opacity: 20%;
}

.rating-notification {
  z-index: 1;
  position: absolute;
  padding: 0 8px;
  font-size: 22px;
}
