.game-row-first {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.show-game-image {
  object-fit: cover;
  width: 800px;
  height: 450px;
  border-radius: 3px;
}

.ratings-card {
  border: none;
}

.game-title {
  text-align: center;
}

.star-container {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  margin-bottom: 15px;
}
.rating-notification {
  z-index: 1;
  position: absolute;
  left: 156px;
  top: 58px;
  font-size: 20px;
}
.star {
  width: 32px;
  height: 32px;
}
.no-rating {
  opacity: 20%;
}
.review-star {
  width: 16px;
  height: 16px;
}

.new_shelf_game {
  // It's a simple form class so I had no choice to use underscores in the class name
  margin-top: 25px;
  margin-bottom: 18px;
}

button.btn {
  // The little + sign to add games to a shelf
  padding: 0 0 8px 10px;
}

.twitch-preview {
  color: black;
  background-color: hsl(140, 47%, 70%);
  padding: 8px 16px;
  border-radius: 3px;
  margin-top: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  margin-right: auto;
  transition: 3ms;
}
.twitch-preview:hover {
  color: black;
  background-color: hsl(140, 67%, 70%);
}

a .preview-thumbnail {
  display: none;
}
a:hover .preview-thumbnail {
  display: block;
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 200px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.game-row-second-left {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin-bottom: 30px;
  height: 435px;
}
.game-row-second-right {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

// feel free to change the button colors especially to make it fit more
iframe {
  border: 0;
  border-radius: 3px;
}

.game-row-reviews {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin-bottom: 50px;
}






.review-content {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  margin: 0px 8px 8px;
  overflow: hidden;
  height: 64px;
}

.review-time {
  font-size: .85rem;
  font-weight: normal;
  margin: 1px 10px 10px 10px
}

.review-user {
  display: flex;
  align-items: center;
  gap: 4px;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  margin: 0px;
}

.img {
  width: 40px;
}

.recommended-game-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


@media (max-width: 1399px) {
  .show-game-image {
    width: 600px;
    height: 320px;
  }
}

@media (max-width: 992px) {
  .show-game-image {
    width: 400px;
    height: 220px;
  }
}

.rounded-box-reviews {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin: 16px auto;
  border-radius: 25px;
  background: #fff;
  padding: 16px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;}

.shelf-select {
  display: flex;
  width: 100%;
  align-items: center;
}

.shelf-select select {
  width: 70%;
  // flex-grow: 2;
}

.shelf-select img {
  width: 16px;
  height: 16px;
}

.shelf-select .btn {
  border: none;
}

.shelf-select .btn:hover {
  border: none;
  opacity: 70%;
}


// BRO PLZ CHANGE THIS TO hyphenated
.review-image {
  width: 240px;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

input[type="radio"] {
  display:none;
}

label {
  border: 1px solid #DDD;
  border-radius:5px;
  padding:10px;
  margin-top:10px;
  display:block;
  position:relative;
}

label:hover {
  cursor:pointer;
  background-color: $diet-raspberry;
}

input[type="radio"]:checked {
  background-color: $raspberry;
}

