.main-btn {
  border-radius: 5px;
  padding: 16px 32px;
  background-color: $dark-red;
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.5);
}

.main-btn:hover {
  background-color: $main-red;
}

.categories-container {
  display: flex;
  justify-items: center;
  justify-self: center;
  align-items: center;
  flex-direction: row;
}

.category-btn {
  font-family: $body-font;
  background-color: $card-light-gray;
  width: 100%;
  font-size: 16px;
  border: 1px solid black;
  text-align: center;
}

.category-btn:hover {
  background-color: $hover-darker-gray;
  font-weight: bold;
  color: $not-white-white;
}

.selected-category {
  background-color: $raspberry;
  font-weight: bold;
  color: $not-white-white;
}
