.navbar-lewagon {
  justify-content: space-between;
  background: $red-but-not-nintendo;
  margin-bottom: 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li {
  color: $text-blackish;
}
.nav-item {
  font-family: $body-font;
  flex-grow: 0;
  color: $not-white-white;
  background-color: $red-but-not-nintendo;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgb(138, 52, 40);
  margin-right: 15px;
  transition: 0.5s;
}
