<div id="reviews">
  <% if @game.reviews.blank? %>
    Be the first to leave a review for <%= @game.title %>
  <% else %>
    <% @game.reviews.each do |review| %>
      <p class="reviewContent">"<%= review.content %>"</p>
      <p class ="reviewTime"> <small><%= time_ago_in_words(review.created_at) %> ago</small></p>
    <% end %>
  <% end %>
</div>
