<div id="reviews">
  <% if @game.reviews.blank? %>
    Be the first to leave a review for <%= @game.title %>
  <% else %>
    <% @game.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  <% end %>
</div>
